.aboutUsRoot{
    background-color: #FAEEE7;
    padding: 100px 20px 100px 20px;
    background-size: 100% 100%;
    height: 100%;
    //font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#33272A;
    border: 10px solid #F9749C;
    border-bottom:none;
    //border-left: none;
    
    border-top: none;
    text-align: justify;
    
    .aboutUsSec{
        
        .aboutUsHeading{
            //color: #F8F9FA;
            font-size: 50px;
            padding-left: 140px;                  
            font-weight:bold;
        }
        .aboutUsContent{
            //color: #F8F9FA;
            font-size: 30px;
            padding : 30px 140px 10px 140px;
        }
    }
}

@media (max-width: 1000px){
    .aboutUsRoot{
        //background-color: rgb(252, 243, 232);
        padding: 45px 10px 45px 10px;
        border: 10px solid #F9749C;
        border-bottom:none;
    
    
    border-top: none;
    
        
        .aboutUsSec{
            
            .aboutUsHeading{
                font-size: 41px;
                padding-left: 19px;
                
            }
            .aboutUsContent{
                font-size: 31px;
                padding : 10px 21px 10px 21px;
            }
        }
    }
    

}

@media (max-width: 710px){

    .aboutUsRoot{
        //background-color: rgb(252, 243, 232);
        padding: 50px 10px 50px 10px;
        background-size: 100% 100%;
        height: 100%;
        //font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 5px solid #F9749C;
        border-bottom:none;
    //border-left: none;
    
    border-top: none;
    
        
        .aboutUsSec{
            
            .aboutUsHeading{
                //color: #F8F9FA;
                font-size: 31px;
                padding-left: 30px;
                font-weight: bold;
            }
            .aboutUsContent{
                //color: #F8F9FA;
                font-size: 25px;
                padding : 10px 30px 10px 30px;
            }
        }
    }
    
}