
.submitMessage{
    border:10px solid #F9749C;
    border-top:none;
    background-color:#FAEEE7;
    color:#33272A;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 100px 20px 100px 20px;

}
.contactRoot{
    
    background-color: #FAEEE7;
    padding: 100px 20px 100px 20px;
    background-size: 100% 100%;
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
    

    
    border: 10px solid #F9749C;
    border-top: none;

   

   .contactLabel{
    .contactMain{
        padding: 30px 280px 30px 280px;
        color: #33272A;
        font-size: 50px;
        text-align:center;
        font-weight:bold;
        
    }
   
    .contactBox{
        margin: 30px 390px 30px 390px;
        padding: 50px 100px 50px 100px;
        background-color: #FAEEE7;
        display:flex;
        flex-direction:column;
        border: 5px solid #33272A;

        label{
            padding: 10px 20px 5px 20px;
            margin: 14px 20px 10px 20px;
            background-color: #FAEEE7;
            color:#33272A;
            font-weight: bold;

        }

        input{
            padding: 10px 20px 10px 20px;
            margin: 14px 20px 14px 20px;
            background-color: #FAEEE7;
            border: 3.7px solid #33272A;
            border-radius: 10px;
            border-style:solid;
            color:#33272A;
        }

        textarea{
            background: #FAEEE7;
            border: 3.7px solid #33272A;
            border-style:solid;
            border-radius: 10px;
            color:#33272A;
            padding: 10px 20px 10px 20px;
            margin:14px 20px 14px 20px;
        }

        .contactButton{
            border: none;
            color: #FFFFFF;
            background-color: #E2216A;
            font-weight: bold;
            margin: 37px 52px;
            font-size: 21px;
            border-style:solid;
            border-radius: 10px;
            padding: 10px;

            
        }
        
    }


    
    
    
    
    
    .contactLastLine{
        font-size: 29px;
        text-align: center;

        padding: 31px 0px 0px 0px;

    .myName{
        color: #ffffff;
        border: none;
        border-radius: 10px;
        background-color:#E2216A;
        font-size: 29px;


        font-weight: bold;
        padding: 10px 10px 10px 10px;
    }   
    }
}
}

@media (max-width: 1037px){
    .contactRoot{
    
        padding: 50px 10px 50px 10px;
        

    
    border: 10px solid #F9749C;
    border-top: none;

    //border-bottom: none;
   
    
       .contactLabel{
        .contactMain{
            padding: 30px 10px 30px 10px;
            font-size: 41px;
            text-align:center;
        }


        .contactBox{
            margin: 10px 100px 10px 100px;
            padding: 31px 10px 31px 10px;
        
            display:flex;
            flex-direction:column;
            border: 5px solid #33272A;

            label{
                padding: 10px 20px 5px 20px;
                margin: 14px 20px 3px 25px;
                background-color: #FAEEE7;
                color:#33272A;
                font-weight: bold;
    
            }
    
            input{
                padding: 10px 20px 10px 20px;
                margin: 10px 47px 10px 47px;
                background-color: #FAEEE7;
                border: 3.7px solid #33272A;
                border-style:solid;
                color:#33272A;
                border-radius: 10px;
            }
    
            textarea{
                border: 3.7px solid #33272A;
                border-style:solid;
                color:#33272A;
                border-radius: 10px;
                padding: 10px 20px 10px 20px;
                margin: 10px 47px 10px 47px;
                

            }
            .contactButton{
                border: none;
                color: #FFFFFF;
                background-color: #E2216A;
                font-weight: bold;
                margin: 0px 65px;
                font-size: 24px; 
            }
        }
        .contactLastLine{
            font-size: 31px;
            text-align: center;
    
            padding: 31px 0px 0px 0px;
    
        .myName{
            color: #ffffff;
            border: none;
            border-radius: 10px;
            background-color:#E2216A;
            font-size: 31px;
    
    
            font-weight: bold;
            padding: 5px 5px 5px 5px;
        }   
        }
       }
        
    }


}

@media (max-width: 710px){
    
    .contactRoot{
    
        background-color: #FAEEE7;
        padding: 50px 10px 50px 10px;
        background-size: 100% 100%;
        height: 100%;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight:bold;
        

    
    border: 5px solid #F9749C;
    border-top: none;

    //border-bottom: none;
   
    
       .contactLabel{
        .contactMain{
            padding: 30px 10px 30px 10px;
            font-size: 30px;
            text-align:center;
        }


        .contactBox{
            margin: 10px 50px 10px 50px;
            padding: 20px 10px 20px 10px;
            background-color: #FAEEE7;
            display:flex;
            flex-direction:column;
            border: 5px solid #33272A;

            label{
                padding: 10px 20px 5px 20px;
                margin: 14px 20px 3px 6px;
                background-color: #FAEEE7;
                color:#33272A;
                font-weight: bold;
    
            }
    
            input{
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
                padding: 10px 20px 10px 20px;
                margin: 7px 13px 15px 14px;
                background-color: #FAEEE7;
                border: 3.7px solid #33272A;
                border-style:solid;
                color:#33272A;
                border-radius: 10px;

            }
    
            textarea{
                background: #FAEEE7;
                border: 3.7px solid #33272A;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
                border-style:solid;
                color:#33272A;
                border-radius: 10px;
                padding: 20px 20px 20px 20px;
                margin: 7px 13px 15px 14px;
                

            }
            .contactButton{
                border: none;
                color: #FFFFFF;
                background-color: #E2216A;
                font-weight: bold;
                margin: 0px 52px;
                font-size: 18px; 
            }
        }
        .contactLastLine{
            font-size: 24px;
            text-align: center;
    
            padding: 31px 0px 0px 0px;
    
        .myName{
            color: #ffffff;
            border: none;
            border-radius: 10px;
            background-color:#E2216A;
            font-size: 21px;
    
    
            font-weight: bold;
            padding: 5px 5px 5px 5px;
        }   
        }
       }
        
    }
    
}    







