*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  }


/* .lightColor{
  background-color: #FAEEE7;
  color: #33272A;
} */
















.darkColor{
  background-color: #000000;
  color: #ffffff;
}