.headRoot{
    background-size: 100% 100%;
    height: 100%;
    border: 10px solid #F9749C;
    background-color:#FAEEE7;
    border-bottom: none;
    color: #33272A;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    

    .headSubRoot{
         margin: 0px 10px 0px 10px; 
         padding: 100px 0px 100px 0px;
        background-color:#FAEEE7;
        .headRow{
            display: flex;
            flex-direction: row;
            
            .headWrite{
                padding-left: 14px;
                
                
                .headWriteMain{
                    font-size: 79px;
                    color: #33272A;
                    padding-bottom: 31px;
                    padding: 100px 0px 21px 50px;
                }
                .headWriteSubData{
                    font-size: 43px;
                    color: #33272A;
                    padding: 10px 0px 25px 50px;
                    }
                .headLink{
                    font-size:21px;
                    .headContant{
                        display: flex;
                        flex-direction:row;
                        padding-top: 0px;
                        padding-left:34px;
            
                        a{
                            padding-left: 21px;
                            color: #33272A;
                            font-weight: bold;
                            font-size: 31px;
                        }
                    }
                }
            }
            .headImg{
                width: 50%;
                justify-content:center;
                text-align: center;
        
                .headMainImg{
                    width: 63vh;
                    height: 63vh;
                    border-radius: 50%;
                    border: 14px dotted #F9749C;
                    
                }
            }
        
        }
        
    }
     
}

@media (max-width: 710px){
    .headRoot{
        border: 5px solid #F9749C;
        border-bottom:none;
        .headSubRoot{
            
            padding: 10px 0px 240px 5px;
            background-color: #FAEEE7;
            .headRow{
                display:flex;
                flex-direction:column;
                align-items: center;
                justify-content: center;
                
            
                
                .headWrite{
                    transform: translateY(100%);
                   
                    
                    display: flex;
                    flex-direction: column;
                    padding-left: 0px;
                   
                    .headWriteMain{
                        text-align:center;
                    justify-content:center;

                        font-size: 56px;
                        padding: 10px 30px 5px 30px;
                    }
                    .headWriteSubData{
                        text-align: justify;
                    justify-content:center;

                        font-size: 25px;
                        padding: 10px 30px 10px 30px;
    
                    }

                    .headLink{
                        text-align: center;
                        justify-content: center;
                        font-size:18px;
                        color: #33272A;
                        
                        

                        
                        
                        .headContant{
                            color: #33272A;
                             text-align:center;
                             justify-content: center;
                             padding-left:0px;
                
                            a{
                                 padding: 10px 10px 10px 10px;
                                 color: #33272A;
                            }
                        }
                    }
                
                }
                .headImg{
                    transform: translateY(-97%);
                    .headMainImg{
                    transform: translateX(-15.5%);

                        height: 30.7vh;
                        width: 30.5vh;
                        
                        border-radius: 50%;
                        border: 10px dotted #F9749C;
                    }
                }  
    
            }
            
     
        }
           }
}