.projectRoot{background-color: #FAEEE7;
    padding: 100px 20px 100px 20px;
    background-size: 100% 100%;
    height: fit-content;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#33272A;
    border: 10px solid #F9749C;
    border-bottom:none;
    border-top: none;
    .projectTitle{
        font-size: 50px;
        padding-left: 140px;
        font-weight:bold; 
        padding-bottom: 50px;
    }
    .content{
        width : 100%;
        .cards{
            display: flex;
            flex-direction: row;
            column-gap: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 21px;

    .projectHolder{
        height: 310px;
        width: 310px;
        background-color: #FAEEE7;
        border-radius: 10px;
        margin-bottom: 140px;
        cursor: pointer;


        .projectEach{
            border: 5px solid #33272A;
            border-radius: 15px;
            padding: 10px 21px;
            height: 341px;
            .projectName{
                font-size: 31px;
                text-align: center;
                height: 1rem;
                font-weight: bold;
            }

            .projectData{
                display: flex;
                
                justify-content: center;
                align-items: center;
                height: 280px;
                padding-top: 10px;

            .projectDescribe{
                font-size: 25px;
                text-align: justify;
            }

        


        }
        }
    }
}
}


}

@media (max-width: 1000px){
    .projectRoot{
        padding: 50px 10px 50px 10px;
        border: 10px solid #F9749C;
        border-bottom:none;
        border-top: none;
    
        .projectTitle{
                font-size: 41px;
                padding-left: 31px;
                font-weight: bold;
        }

        .content{
            margin-top: 10px;
            
            width: 95%;
            .cards{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                justify-content:space-evenly;
                flex-wrap: wrap;
                padding-right: 0px;
                
        
        .projectHolder{
                    height: fit-content;
                    background-color: #FAEEE7;
                    border-radius: 10px;
                    margin-bottom: 25px;

                    cursor: pointer;
                    
                 
    
            .projectEach{
                border: 5px solid #33272A;
                border-radius: 15px;
                padding: 5px 14px;
                height: 341px;
                .projectName{
                    font-size: 31px;
    
    
    
                }
                .projectData{
                    display: flex;
                    
                    justify-content: center;
                    align-items: center;
                    padding-top: 10px;
    
    
                .projectDescribe{
                    font-size: 25px;
                    text-align: justify;
    
                }

            }
            }
        }

    }

}
    }
 

}

@media (max-width: 710px){
    .projectRoot{
        padding: 50px 10px 50px 37px;
        border: 5px solid #F9749C;
        border-bottom:none;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    border-top: none;
    
        .projectTitle{
            font-size: 31px;
            padding-left: 0px;
            padding-bottom: 0px;
            font-weight: bold;
        }

        .content{
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .cards{
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: unset;
                justify-content: space-between;
                flex-wrap: wrap;
        
        .projectHolder{
            height: fit-content;
            width: auto;
            background-color: #FAEEE7;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            padding-bottom: 30px;
            margin: 0% auto;
                    

            .projectEach{
                border: 5px solid #33272A;
                border-radius: 15px;
                padding: 5px 14px;
                height: 250px;
                width: 200px;
                .projectName{
                font-size: 25px;
                }
                .projectData{
                    justify-content: center;
                    align-items: center;
                    height: 240px;
                    padding-top: 10px;
    
    
                .projectDescribe{
                    font-size: 21px;
                    text-align: justify;
    
                }
            }
            }
        }

    }
}

    }
     
}